fastapi
uvicorn[standard]
pydantic
python-multipart
python-jose[cryptography]
passlib[bcrypt]
motor
pymongo
pytest
httpx
Pillow
numpy
tensorflow
opencv-python
tf-keras
email-validator
pdfplumber
scikit-learn
